.Home {
    margin-top: 5rem;
}

.Home h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #3e3e3e;
}

.Home .col {
    padding: 1rem;
}

.Home .col:hover {
    box-shadow: 0 0 10px gray;
}

.Home img {
    width: 100%;
}

.Home button {
    margin: 1rem 10% 0;
    width: 80%;
    padding: .5rem;
    outline: none;
}

.Home button a {
    color: #3e3e3e;
    text-decoration: none;
    font-size: 1.2rem;
}