.pagination {
    justify-content: center;
    margin-top: 2rem;
}

.navbar {
    position: absolute !important;
    z-index: 1;
    left: 3rem;
}

.navbar a {
    text-decoration: none;
    color: #cecece;
    font-size: 2rem;
}

.navbar a:hover {
    color: #cecece;
}

/*to delete the default style I used !important*/
.page-item.active .page-link {
    background-color: #3e3e3e !important;
    border-color: #3e3e3e !important;
    color: white !important;
}

.page-link {
    color: #3e3e3e !important;
}

.page-link:hover {
    color: #3e3e3e !important;
    background-color: #3e3e3e29 !important;
    border-color: #3e3e3e5e !important;
}

/*loading*/
.loading {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}